Research/DumpPartition/obj/
Research/NTFSDump/obj/
Research/NTFSInfo/obj/
Research/PEDump/obj/
Research/format/obj/
Research/CDRTools/.cproject
Research/CDRTools/.project
Research/CDRTools/output-MinGW-i386/.ninja_deps
Research/CDRTools/output-MinGW-i386/
